.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  height: 55px;
  width: 60%;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffab0f;
  background-color: #f4fa89;
  font-size: 1.3em;
}

.btn {
  cursor: pointer;
  height: 50px;
  width: 25%;
  border-radius: 5px;
  background-color: #f5b942;
  font-weight: bold;
  border: none;
  margin: 10px 20px;
  font-size: 20px;
  box-shadow: 0 5px rgba(143, 95, 0, 0.7);
}

.btn:focus,
.btn:active,
.input:focus {
  outline: none;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.thing-container {
  background: rgb(240, 207, 177);
  background: linear-gradient(
    90deg,
    rgba(240, 207, 177, 1) 15%,
    rgba(253, 168, 99, 1) 56%,
    rgba(239, 144, 0, 1) 98%
  );
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  text-align: center;
  color: darkslategrey;
  font-weight: bold;
  font-size: 1.3em;
  border-left: 10px solid yellowgreen;
  padding: 5px;
}

.thing-container .delete-btn {
  float: right;
  border: none;
  background-color: red;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  margin: auto 10px;
}

.microphone {
  height: 50px;
  font-size: 30px;
  margin: 10px auto;
  width: 100px;
}

.microphone button {
  height: 100%;
  width: 100px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 40px;
  margin: 10px auto;
}
